In [62]:
import numpy as np
np.__version__

'1.23.0'

In [63]:
summ = 0
for num in range(1,9999999):
    summ+=num**2*3

In [64]:
summ

999999550000064999997

In [65]:
np.sum(np.arange(1,9999999, dtype=np.int64))

49999985000001

# Array Creation

In [66]:
np.zeros([4,3,3], dtype=np.int64)

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]], dtype=int64)

In [67]:
np.ones([4,3])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [68]:
np.eye(6,6, k=0)

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [69]:
np.empty([3,3,3])

array([[[6.23042070e-307, 3.56043053e-307, 1.37961641e-306],
        [1.60216182e-306, 7.56602523e-307, 1.33511562e-306],
        [2.22518251e-306, 1.33511969e-306, 2.22520288e-307]],

       [[1.24611538e-306, 1.33511290e-306, 1.11261027e-306],
        [1.11261502e-306, 1.42410839e-306, 7.56597770e-307],
        [6.23059726e-307, 1.42419530e-306, 7.56599128e-307]],

       [[1.11260144e-306, 6.89812281e-307, 1.42418172e-306],
        [8.06609645e-308, 6.89810244e-307, 1.22387550e-307],
        [2.22522596e-306, 8.34423068e-308, 2.10081501e-312]]])

In [70]:
np.full([3,3],8.5)

array([[8.5, 8.5, 8.5],
       [8.5, 8.5, 8.5],
       [8.5, 8.5, 8.5]])

In [71]:
np.arange(5,5555,5)

array([   5,   10,   15, ..., 5540, 5545, 5550])

In [72]:
np.linspace(1,10,50)

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [73]:
np.random.randint(2,4)

2

In [74]:
np.random.randn(50)

array([ 2.30382216,  0.18673424,  0.90430415, -0.84484949,  0.31298627,
        0.58405584,  0.57915446, -0.88710194,  0.4775698 , -0.14519056,
        0.03722524, -0.72398344, -0.29763337, -1.25774898,  0.24758281,
        0.74909182,  0.10648394,  0.74737144, -0.02418527,  1.6237577 ,
        0.52432777,  0.98669987,  0.25831817, -0.36293697,  0.21049568,
       -0.54214059,  0.06611477, -1.53542183,  0.70722813, -0.16266107,
        0.00416821, -0.48328862, -1.04438725, -0.58154492,  1.7124464 ,
        0.05017682,  0.89190568, -0.19802121, -0.52345057,  0.63124632,
        0.26769932, -0.44532619, -0.69774158,  0.71107883,  0.02658503,
        0.23796703, -1.33309885, -0.6698197 , -0.71891678,  0.08561821])

# Type of Array

In [75]:
integr = np.array([2,3,54,563,6], dtype=np.int64)
integr

array([  2,   3,  54, 563,   6], dtype=int64)

In [76]:
float = np.array([2,3,54,563,6], dtype=np.float64)
float

array([  2.,   3.,  54., 563.,   6.])

In [77]:
bool = np.array([True, False, True, False], dtype=np.bool8)
bool

array([ True, False,  True, False])

In [78]:
empty = np.empty([3,3], dtype=np.complex64)
empty

array([[0.+2.515625j, 0.+2.515625j, 0.+2.515625j],
       [0.+2.515625j, 0.+2.515625j, 0.+2.515625j],
       [0.+2.515625j, 0.+2.515625j, 0.+2.515625j]], dtype=complex64)

In [79]:
string = np.array(["apple","banana", 'grapes'], dtype=np.string_)
string

array([b'apple', b'banana', b'grapes'], dtype='|S6')

# NDarray Object Inspection

In [80]:
string.ndim
empty.ndim

2

In [81]:
empty.shape
integr.shape

(5,)

In [82]:
empty.itemsize
string.itemsize
string.item(0)

b'apple'

In [83]:
bool.any()
bool.all()

False

In [84]:
empty.dtype
integr.itemsize
string.dtype

dtype('S6')

In [85]:
empty.size

9

# Slicing

In [86]:
arr = np.array(
    [
        [44,22,56,79],
        [67,76,89,79],
        [52,45,78,79],
        [13,53,64,88]
    ]
)

In [87]:
arr[1:3:2,0:4:2]

array([[67, 89]])

In [88]:
arr[1:,2:]

array([[89, 79],
       [78, 79],
       [64, 88]])

In [89]:
arr[1:3,1:3]

array([[76, 89],
       [45, 78]])

# Filtering

In [90]:
arr>50

array([[False, False,  True,  True],
       [ True,  True,  True,  True],
       [ True, False,  True,  True],
       [False,  True,  True,  True]])

In [91]:
arr[arr>50]

array([56, 79, 67, 76, 89, 79, 52, 78, 79, 53, 64, 88])

In [92]:
arr[(arr>50) & (arr<60)]

array([56, 52, 53])

In [93]:
arr[(arr%2==0)]

array([44, 22, 56, 76, 52, 78, 64, 88])

In [94]:
arr[~arr%2==0]

array([79, 67, 89, 79, 45, 79, 13, 53])

# Operator

In [95]:
arr2 = arr[1:,1:]
arr2

array([[76, 89, 79],
       [45, 78, 79],
       [53, 64, 88]])

In [96]:
arr2*2

array([[152, 178, 158],
       [ 90, 156, 158],
       [106, 128, 176]])

In [97]:
arr/2

array([[22. , 11. , 28. , 39.5],
       [33.5, 38. , 44.5, 39.5],
       [26. , 22.5, 39. , 39.5],
       [ 6.5, 26.5, 32. , 44. ]])

In [98]:
arr//2

array([[22, 11, 28, 39],
       [33, 38, 44, 39],
       [26, 22, 39, 39],
       [ 6, 26, 32, 44]], dtype=int32)

In [99]:
arr2**2

array([[5776, 7921, 6241],
       [2025, 6084, 6241],
       [2809, 4096, 7744]])

In [100]:
arr3 = arr2%2
arr3

array([[0, 1, 1],
       [1, 0, 1],
       [1, 0, 0]], dtype=int32)

# Matrix Operation

In [101]:
arr2 + arr3

array([[76, 90, 80],
       [46, 78, 80],
       [54, 64, 88]])

In [102]:
arr2 * arr3

array([[ 0, 89, 79],
       [45,  0, 79],
       [53,  0,  0]])

In [103]:
arr2 - arr3

array([[76, 88, 78],
       [44, 78, 78],
       [52, 64, 88]])

In [104]:
arr4 = arr2 **arr3
arr4

array([[ 1, 89, 79],
       [45,  1, 79],
       [53,  1,  1]], dtype=int32)

In [105]:
arr2@arr3

array([[168,  76, 165],
       [157,  45, 123],
       [152,  53, 117]])

In [106]:
np.matmul(arr2,arr4)

array([[ 8268,  6932, 13114],
       [ 7742,  4162,  9796],
       [ 7597,  4869,  9331]])

In [107]:
np.multiply(arr3,arr3)

array([[0, 1, 1],
       [1, 0, 1],
       [1, 0, 0]], dtype=int32)

In [108]:
np.divide(arr2, arr4)

array([[76.,  1.,  1.],
       [ 1., 78.,  1.],
       [ 1., 64., 88.]])

# Load and Save NumPy Array

In [109]:
np.save('arr4', arr4, allow_pickle=True)

In [110]:
np.load('arr4.npy')

array([[ 1, 89, 79],
       [45,  1, 79],
       [53,  1,  1]])

# Stats

In [111]:
arr

array([[44, 22, 56, 79],
       [67, 76, 89, 79],
       [52, 45, 78, 79],
       [13, 53, 64, 88]])

In [112]:
arr.mean()

61.5

In [113]:
arr.mean(axis=0)

array([44.  , 49.  , 71.75, 81.25])

In [114]:
arr.mean(axis=1)

array([50.25, 77.75, 63.5 , 54.5 ])

In [115]:
np.std(arr, axis=0)

array([19.71040334, 19.30025907, 12.69596393,  3.89711432])

In [116]:
np.std(arr, axis=1)

array([20.59581268,  7.85413904, 15.20690633, 27.09704781])

In [117]:
np.var(arr, axis=1)

array([424.1875,  61.6875, 231.25  , 734.25  ])

In [118]:
x = np.arange(1,10)
y = np.arange(11,20)
np.cov(x,y)

array([[7.5, 7.5],
       [7.5, 7.5]])

In [119]:
np.cov(arr)

array([[565.58333333,  72.41666667, 374.5       , 439.83333333],
       [ 72.41666667,  82.25      , 112.83333333, 199.16666667],
       [374.5       , 112.83333333, 308.33333333, 387.33333333],
       [439.83333333, 199.16666667, 387.33333333, 979.        ]])