In [1]:
import numpy as np
import pandas as pd

# Series

In [2]:
s1 = pd.Series(np.random.random(10), name='temp')
s1

0    0.403717
1    0.930768
2    0.719343
3    0.129397
4    0.858803
5    0.338949
6    0.335749
7    0.742134
8    0.089168
9    0.093962
Name: temp, dtype: float64

# Data Frame

In [3]:
df1 = pd.DataFrame(
    {
        'age': np.arange(20,31),
        'height': np.arange(160, 171)
    }
)
df1

    age  height
0    20     160
1    21     161
2    22     162
3    23     163
4    24     164
5    25     165
6    26     166
7    27     167
8    28     168
9    29     169
10   30     170

# Exporting Data

In [4]:
df1.to_clipboard()

In [5]:
df1.to_csv('.\\Dtavisualisation\\student.csv', index=False)

In [6]:
df1.to_json('.\\Dtavisualisation\\student.json')

In [7]:
df1.to_html('.\\Dtavisualisation\\student.html', index=False)

In [8]:
df1.to_excel('.\\Dtavisualisation\\student.xlsx', sheet_name= 'student')

In [9]:
df1.to_excel('.\\Dtavisualisation\\student.xlsx', sheet_name= 'parants')

In [10]:
df1.to_xml('.\\Dtavisualisation\\student.lxml')

In [11]:
import sqlite3
con = sqlite3.connect('student.db')
df1.to_sql('student', con)
con.commit()

ValueError: Table 'student' already exists.

# Importing

In [ ]:
pd.read_clipboard()

         df1                  = pd.DataFrame(
0          {               None          None
1     'age':  np.arange(20,31),          None
2  'height':     np.arange(160,          171)
3          }               None          None
4          )               None          None
5        df1               None          None

In [ ]:
pd.read_json('.\\Dtavisualisation\\student.json')

    age  height
0    20     160
1    21     161
2    22     162
3    23     163
4    24     164
5    25     165
6    26     166
7    27     167
8    28     168
9    29     169
10   30     170

In [ ]:
pd.read_excel('.\\Dtavisualisation\\student.xlsx', sheet_name='student')

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [13]:
df = pd.read_html(r'https://www.icc-cricket.com/rankings/mens/team-rankings/test')

In [16]:
df[0]

   Pos           Team  T  Matches  M  Points  P  Rating  R
0    1    Australia  AUS          19       2439        128
1    2        India  IND          29       3318        114
2    3  South Africa  SA          21       2306        110
3    4      England  ENG          39       3909        100
4    5   New Zealand  NZ          27       2704        100
5    6     Pakistan  PAK          23       2111         92
6    7     Sri Lanka  SL          23       1916         83
7    8   West Indies  WI          25       1988         80
8    9   Bangladesh  BAN          22       1047         48
9   10     Zimbabwe  ZIM           6        148         25